body {
  max-width: 1000px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.homeLink {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;

}

.box {
  display: flex;
  flex-direction: column;
  margin-right: 0%;

}

.input {
  width: 50%;
}