body {


  font-family: 'Roboto', sans-serif;
}

.homeLink {
  margin-bottom: 20px;

}

.forms {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
  margin-top: -2%;

}

.box {
  display: flex;
  flex-direction: column;
  margin-right: 0%;

}

.input {
  width: 50%;
}

h4 {
  margin-left: 1%;
  color:#3f51b5;
}